---
import type { HTMLAttributes } from "astro/types";
import { cn, randomAlphaNumeric } from "@/ts/utils";

type Props = HTMLAttributes<"svg">;

const id = `shadcn-${randomAlphaNumeric(6)}`;
const { class: className, ...rest } = Astro.props;
---

<svg
	xmlns="http://www.w3.org/2000/svg"
	width="256"
	height="256"
	viewBox="0 0 256 256"
	fill="none"
	aria-labelledby={id}
	class={cn(className, "text-zinc-950 dark:text-zinc-50")}
	{...rest}
>
	<title {id}>shadcn/ui</title>
	<line
		x1="208"
		y1="128"
		x2="128"
		y2="208"
		fill="none"
		stroke="currentColor"
		stroke-linecap="round"
		stroke-linejoin="round"
		stroke-width="16"></line>
	<line
		x1="192"
		y1="40"
		x2="40"
		y2="192"
		fill="none"
		stroke="currentColor"
		stroke-linecap="round"
		stroke-linejoin="round"
		stroke-width="16"></line>
</svg>
